node_modules/

artifacts/
build/
cache/
coverage/
generated/

coverage.json

.openzeppelin/rinkeby.json
.openzeppelin/unknown-1337.json

.*
!.env.example
!.github
!.openzeppelin
!.cache-1.json
!.cache-5.json
!.cache-137.json
!.cache-80001.json
!.cache-80002.json
!.cache-11155111.json

package-lock.json
